@mixin wh($w, $h:$w)
  width: $w
  height: $h
@mixin desktop
  @media screen and ( min-width: 992px )
    @content

$color-light: aliceblue
$color-dark: darken($color-light, 20%)

@keyframes a-rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
@keyframes b-rotate
  0%
    transform: rotate(0deg)
  40%
    transform: rotate(180deg)
  60%
    transform: rotate(110deg)
  100%
    transform: rotate(360deg)

#container
  position: relative

  #logo
    width: 350px
    height: 130px
    margin: 20px auto 50px
    display: block

  #spinner
    @include wh(60px)
    position: relative
    margin: 150px auto

    & > div
      position: absolute
      border-radius: 50%

    .spinner-white
      @include wh(15px)
      position: absolute
      z-index: 1000
      background: white

    .spinner-inner
      @include wh(42px)
      animation: b-rotate 3s infinite cubic-bezier(.47,.64,.04,.71)
      border: 7px solid #FFCC03
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
      .spinner-white
        left: -7px
        top: 7px

    .spinner-outer
      @include wh(60px)
      animation: a-rotate 1.5s infinite cubic-bezier(.69,.82,0,.84)
      border: 7px solid #3C59A5
      .spinner-white
        left: 16px
        top: -14px

  #cards
    .container-buttons
      #spinner
        margin: 20px auto

    .card-pokemon
      .card-pokemon_sprite-container
        background: $color-light
        margin: 10px

      .card-pokemon_sprite-item
        display: block
        margin: 10px auto 0

      .card-pokemon_type
        display: inline-block
        width: 110px
        padding: 10px 0
        text-align: center
        color: white
        border-radius: 3px
        & + .card-pokemon_type
          margin-left: 10px
        &-bug
          background-color: #A8B820
        &-dragon
          background-color: #7038F8
        &-ice
          background-color: #98D8D8
        &-fighting
          background-color: #C03028
        &-fire
          background-color: #F08030
        &-fairy
          background-color: #EE99AC
        &-flying
          background-color: #A890F0
        &-grass
          background-color: #78C850
        &-ghost
          background-color: #705898
        &-ground
          background-color: #E0C068
        &-electric
          background-color: #F8D030
        &-normal
          background-color: #A8A878
        &-poison
          background-color: #A040A0
        &-psychic
          background-color: #F85888
        &-rock
          background-color: #B8A038
        &-water
          background-color: #6890F0

    #card
      position: absolute
      top: 20px
      @include desktop
        left: 8.33333325%
      .card-pokemon_header-h
        display: inline-block
        position: relative
        top: 3px
        margin-right: 15px
      .card-pokemon_header-button
        float: right
        position: relative
        top: 4.5px
        right: 1.25rem
        &:before, &:after
          position: absolute
          content: ''
          display: block
          @include wh(8px, 35px)
          background: $color-dark
          border-radius: 3px
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(-45deg)
      .progress-description
        text-align: center
      .progress-value
        position: absolute
        left: 50%
        top: 37.5px
      .progress
        margin-bottom: 5px
      progress::-webkit-progress-value
        background: $color-dark
      progress::-moz-progress-bar
        background: $color-dark
      .card-pokemon_sprite-container
        margin: 0 !important
      .card-pokemon_types-container
        text-align: center
      .card-pokemon_hw
        &-container
          background: $color-dark
        &-item
          h4
            color: white

// @media screen and ( min-width: 992px )
//   #card
//     left: 8.33333325%
